# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Local & Scratch
backups/
scratch/
*.log
local_settings.py
staticfiles/
deployment_history.json

# IDE
.vscode/
.idea/
*.swp
